# Database
DB_NAME=sebook
DB_USERNAME=your_db_username
DB_PASSWORD=your_db_password

# JWT
JWT_SECRET_KEY=your_jwt_secret_key_here

# Cloudinary
CLOUDINARY_CLOUD_NAME=your_cloudinary_cloud_name
CLOUDINARY_API_KEY=your_cloudinary_api_key
CLOUDINARY_API_SECRET=your_cloudinary_api_secret

# Email (Brevo / SMTP)
BREVO_API_KEY=your_brevo_api_key
SENDER_EMAIL=your_sender_email@example.com
#MAIL_USERNAME=your_smtp_username
#MAIL_PASSWORD=your_smtp_password

# VNPAY
VNPAY_TMNCODE=your_vnpay_tmn_code
VNPAY_HASHSECRET=your_vnpay_hash_secret
VNPAY_RETURN_URL=https://your-backend-domain.com/api/payment/vnpay-return

# Frontend URL (for CORS, redirect, links)
FRONTEND_URL=http://localhost:5173

# AI (Cohere)
COHERE_API_KEY=your_cohere_api_key

